/*GLOBAL STYLES*/
@font-face {
    font-family: 'Figtree';
    src: url(./fonts/Figtree-VariableFont_wght.ttf);
}
* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Figtree',sans-serif;
    font-size: 1.3rem;
    background-color: #141018;
    color: white;
}
.nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 1rem;
    background-color: #141018;
    border-bottom: 1px solid #333;
}
.nav ul li {
    font-weight: 700;
    margin: 0 1rem;
    border-right: 3px solid #333;
    padding-right: 1rem;
}
.nav ul li a {
    text-decoration: none;
    color: white;
}
.nav ul li a:hover {
    color: #9DBDD7;
    border-bottom: 3px solid #9DBDD7;
}
span {
    color: #9DBDD7;
    text-shadow: 0 0 15px #57748b;
}
.arrow-link {
    padding: 2.7rem;
}
.arrow-img {
    height: 100px;;
}
.arrow-img:hover {
    filter: invert(31%) sepia(85%) saturate(350%) hue-rotate(185deg)
}
/*END OF GLOBAL STYLES*/

/* HOME */
.img {
    float:right;
}
.container {
    background-image: url(./images/background-blur.png);
    color: white;
    line-height: 1.5;
    padding: 3rem;
    height: 100vh;
    font-size: 1.5rem;
}
.overview-button,
.languages-button {
    text-decoration: none;
    color: white;
    background-color: #5187b3;
    padding: 0.75rem;
    border-radius: 10px;
    border: 2px solid #5187b3;
    font-weight: 600;
}
.overview-button:hover,
.languages-button:hover {
    opacity: 0.9;
    box-shadow: 0 0 10px #5187b3;
}
.about-button {
    text-decoration: none;
    color: white;
    background-color: inherit;
    padding: 0.75rem;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: 600;
}
.about-button:hover {
    color:  #9DBDD7;
    border: 2px solid #9DBDD7;
    background: inherit;
}

/* OVERVIEW */
#overview {
    background-image: url(./images/background-blur.png);
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    line-height: 1.5;
    color: white;
}
.overview-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 1000px;
    line-height: 2;
    backdrop-filter: blur(3px);
}
.overview-text h2 {
    font-size: 3em;
}
.overview-text p {
    font-size: 1.7rem;
}
#examples {
    background-image: url(./images/background-blur.png);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    padding: 3rem;
    gap: 20px;
    color:#9DBDD7;
}
#examples h2 {
    font-size: 2rem;
}
.top-lang {
    display: grid;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 5rem;
}
.example-row {
    display: flex;
    justify-content: space-between;
}
.example {
    text-align: center;
    background-color: #141018;
    border-radius: 15px;
    line-height: 1.4;
    width: 45%;
    padding: 1rem;
    color: white;
}
.example img {
    width: 100px;
}
/*END OF HOME*/

/* LANGUAGES */
.languages-overview {
    background-image: url(./images/background-blur.png);
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}
.languages-overview-text {
    width: 70%;
    color: white;
    line-height: 2;
    font-size: 2.3rem;
}
.languages {
    padding: 3rem;
    line-height: 1.5;
    color: white;
    background-image: url(./images/background.png);
}
#python,
#java,
#javascript,
#csharp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(3px);
}
.description h2 {
    font-size: 4rem;
    margin-top: 2rem;
}
.content {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    line-height: 1.5;
}
.language-bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 2rem;
}
.uses {
    flex-basis: 50%;
}
.ides {
    flex-basis: 50%;
}
.language-img {
    flex-basis: 40%;
    text-align: right;
}
.language-img img {
    width: 400px;
    height: 400px;
}
#python-img img {
    width: 400px;
    height: 398px;
}
.link {
    text-decoration: none;
    color: white;
    background-color: #5187b3;
    padding: 0.75rem;
    border-radius: 10px;
    font-weight: 600;
    width: 20%;
}
.link:hover {
    opacity: 0.9;
    box-shadow: 0 0 10px #5187b3;
}
.arrows {
    display: flex;
    flex-direction: column;
}

/*END OF LANGUAGES*/

/* HISTORY */
.history-overview {
    background-image: url(./images/background-blur.png);
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}
.history-overview-text {
    width: 70%;
    color: white;
    line-height: 2;
    font-size: 2rem;
}
.history {
    background-image: url(./images/background.png);
    padding: 3rem;
}
#history-content {
    align-items: center;
    backdrop-filter: blur(2px);
    padding: 3rem;
    line-height: 2;
    font-size: 2rem;
}
#history-content h1,
#history-content h2 {
    text-align: center;
}
#history-content p {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 3rem;
}
/*END OF HISTORY*/

/* CAREERS */
.careers-overview {
    background-image: url(./images/background-blur.png);
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}
.careers-overview-text {
    width: 70%;
    color: white;
    line-height: 2;
    font-size: 2rem;
}
.careers {
    background-image: url(./images/background.png);
    padding: 3rem;
}
#software-engineer,
#web-developer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(3px);
    padding: 3rem;
    text-align: justify;
    text-justify: inter-word;
}
#data-scientist,
#game-developer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(3px);
    text-align: justify;
    text-justify: inter-word;

}
.career-description {
    flex-basis: 70%; 
    line-height: 1.5;
}
.career-img {
    flex-basis: 30%;
}
.career-img-right {
    flex-basis: 30%;
}
.career-img img,
.career-img-right img {
    height: 400px;
    width: 400px;
    border: 10px solid #9DBDD7;
    border-radius: 15px;
}
.career-description {
    padding-left: 2rem;
}
/*END OF CAREERS*/

/* ABOUT PAGE */

.about {
    padding: 3rem;
    line-height: 1.5;
    height: 100vh;
}
.about h1{
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}
.profiles {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    margin-bottom: 6rem;
}
.profile {
    text-align: center;
    line-height: 1.5;
    background-color: inherit;
    border-radius: 15px;
    padding: 1rem;
    color: #9DBDD7;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.profile img {
    width: 200px;
    border-radius: 15px;
}
.details {
    display: none;
    text-align: left;
    background-color: #141018;
    padding: 1rem;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    width: 900px;
    border: 1px solid #333;
}
.contact-links {
    display: flex;
    gap: 20px;
    padding-top: 1rem;
}
.contact-links .fa, .contact-links .fa-brands {
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 1rem;
    font-size: 3rem;
    text-decoration: none;
}
.contact-links .fa:hover, .contact-links .fa-brands:hover {
    color: #141018;
    background-color: white;
    box-shadow: 0 0 20px white;
}
.profiles img:hover {
    transform: scale(1.05);
}
input[type="radio"]:checked + label {
    transform: scale(1.05);
    opacity: 1;
}
input[type="radio"]:checked + label .details {
    display: block;
}
/* END OF ABOUT PAGE */

/* SAMPLE PROJECTS */
.projects-overview {
    background-image: url(./images/background-blur.png);
    display: flex;
    height: 650px;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1.5; 
}
.projects-overview-text {
    width: 70%;
    color: white;
    line-height: 2;
    font-size: 2rem;
}

.projects {
    background-image: url(./images/background-blur.png);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    padding: 3rem;
    gap: 20px;
    color:#9DBDD7;
}
.projects h2 {
    font-size: 2rem;
}

.projects img {
    height: 60px;
    width: auto;
}